/* css for navbars */

body {
  padding-top: 7em; /* shifts the content down so its not under the fixed top nav */
  padding-left: 100px;
  z-index: 0 !important;
}

/* main css id for the top nav bar */
#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7em;
  box-shadow: 0 1px 4px grey;
  background-color: white;
  z-index: 2 !important;
}

#user-icon {
  font-size: 40px;
  color: #025426;
  border-radius: 50px;
  background-color: #87bc9f;
  text-align: center; /* horizontally centers the icon */
  height: 1.5em;
  width: 1.5em;
  padding: 8px 0; /* vertically centers the icon */
}

#user-icon:hover { /* changes background color on hover of the profile icon */
  background-color: #95c7ac;
}

#profile-dropdown {
  font-size: 18px;
}

#notifications {
  font-size: 40px;
  color: gray;
  border-radius: 50px; /* makes the icon round */
  text-align: center; /* horizontally centers the icon */
  height: 1.5em;
  width: 1.5em;
  padding: 10px 0; /* vertically centers the icon */
}

#notifications:hover {
  color: #87bc9f;
}


/* main css id for the side nav bar */
#side-nav {
  position: fixed;
  height: 100%;
  background-color: white;
  position: fixed;
  left: 0;
  box-shadow: 1px 0 4px grey;
  z-index: 1 !important;
  transition: 150ms linear;
  font-size: 25px;
  color: #3b3b3b;
}

.sidenav-items {
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  color: #3b3b3b;
}

.sidenav-items:hover {
  background-color: #f0f0f0;
  color: #025426;
}

.side-nav-collapsed {
  width: 80px;
}

.side-nav-expanded {
  width: 220px;
}

.sidenav-text {
  font-size: 20px;
  transition-delay: 80ms;
  padding-left: 15px;
}

.sidenav-text-hidden {
  visibility: hidden;
}

.sidenav-text-visible {
  visibility: visible;
}

#toggle {
  position: fixed;
  bottom: 0;
  width: inherit;
}

#toggle-icon {
  transition: 150ms linear;
}
