body {
  background-color:#f0f0f0;
}

.setup-page-container, .login-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.setup {
  background-color: white;
  text-align: center;
  padding: 4em 2em;
  box-shadow: 1px 1px 5px gray;
}

#chronos {
  width: 20em;
  margin: 0 auto 1em auto;
}

.googlebtn {
  width: 15em;
}

.setuptext {
  max-width: 19em;
}

.setuptext p {
  color: gray;
}
